<div>
  <p>
    Shound mankind colonize mars?
  </p>
  <div class="italic">
    <p>Agree:{{AgreedVoters}}</p>
    <p>Disagree:{{DisagreedVoters}}</p>
  </div>
      <app-voter *ngFor="let voter of voters"
        [name]="voter.name"
        [agreedVotesInput]="AgreedVoters"
        [disagreedVotesInput]="DisagreedVoters"
        (agreedVotes)="ImplementAgree($event)"
        (disagreedVotes)="ImplementDisagree($event)">
      </app-voter>
    <button (click)="ResetVotes()">Reset Votes</button>
  </div>

